registry = "https://nexus.irootechapp.com/repository/npm/"
registry=https://registry.npm.taobao.org/
@tide:registry=https://nexus.irootechapp.com/repository/npm-private/
@rootcloud:registry=https://nexus.irootechapp.com/repository/npm-private/
//nexus.irootechapp.com/repository/npm-private/:_authToken=57f1cea8-e1dc-3533-a476-24798417693a
save-exact=true
always-auth=true
@gezhi:registry=https://nexus.irootechapp.com/repository/npm-private/
unsafe-perm=true